<h3>Dein Prüfungs-Stimmzettel</h3>

<p>
<b><u>WICHTIG</u></b>: Dieser Stimmzettel wird, nachdem er überprüft wurde, <em>nicht ausgezählt</em>.<br />
Um deine Stimme abzugeben, musst du unten auf den Button „Zurück zur Wahl“ klicken, den Stimmzettel neu verschlüsseln und „Abgeben“ statt „Überprüfen“ wählen.
</p>

<p>
<b>Warum?</b> Helios verhindert, dass du denselben Stimmzettel sowohl überprüfst als auch abgibst – als Schutzmaßnahme gegen mögliche Einflussnahme oder Zwang.
</p>

<p>
<b>Was jetzt?</b> <a onclick="$('#audit_trail').select(); return false;" href="#">Markiere die Prüf-Informationen deines Stimmzettels</a>, kopiere sie in deine Zwischenablage und verwende anschließend den <a target="_blank" href="single-ballot-verify.html?election_url={$T.election_url}">Stimmzettel-Prüfer</a>, um sie zu verifizieren.<br />
Wenn du zufrieden bist, klicke auf „Zurück zur Wahl“, um den Stimmzettel erneut zu verschlüsseln und abzugeben.
</p>

<form action="#">
<textarea name="audit_trail" id="audit_trail" cols="80" rows="10" wrap="soft">
{$T.audit_trail}
</textarea>
<br /><br />
Bevor du zur Stimmabgabe zurückkehrst,<br />
kannst du diesen geprüften Stimmzettel im Helios-Tracking-Zentrum veröffentlichen, damit andere die Verifikation ebenfalls überprüfen können.
<br /><br />
<b>Auch wenn du deinen geprüften Stimmzettel veröffentlichst, musst du zur Stimmabgabe zurückkehren und „Abgeben“ wählen, damit deine Stimme zählt.</b>
<br /><br />
<button onclick="BOOTH.reset_ciphertexts();BOOTH.seal_ballot(); return false;" class="pretty">Zurück zur Wahl</button>
&nbsp; &nbsp;&nbsp;
<button onclick="$(this).attr('disabled', 'disabled');BOOTH.post_audited_ballot(); return false;" id="post_audited_ballot_button" class="pretty" style="font-size:0.8em;">Geprüften Stimmzettel im Tracking-Zentrum veröffentlichen</button>
</form>
