<h3>Dein Prüfungs-Stimmzettel</h3>

<p>
<b><u>WICHTIG</u></b>: Dieser Stimmzettel wird, da er geprüft wurde, <em>nicht ausgezählt</em>.<br />
Um einen Stimmzettel abzugeben, musst du unten auf den "zurück zur Wahl"-Button klicken, ihn erneut verschlüsseln und "abgeben" statt "prüfen" wählen.
</p>

<p>
<b>Warum?</b> Das Programm verhindert, dass du denselben Stimmzettel prüfst und abgibst, um Wahlmanipulation zu verhindern.
</p>

<p>
<b>Und jetzt?</b> <a onclick="$('#audit_trail').select(); return false;" href="#">Kopiere deinen (verschlüsselten) Stimmzettel</a> und verwende dann den <a target="_blank" href="single-ballot-verify.html?election_url={$T.election_url}">Stimmzettel-Prüfer</a>, um ihn zu verifizieren.<br />
Wenn du Wählen möchtest, klicke auf den "zurück zur Wahl"-Button, um einen neuen Stimmzettel auszufüllen, zu verschlüsseln und abzugeben.
</p>

<form action="#">
<textarea name="audit_trail" id="audit_trail" cols="80" rows="10" wrap="soft">
{$T.audit_trail}
</textarea>
<br /><br />
Bevor du zur Wahl zurückkehrst,<br />
kannst du diesen geprüften Stimmzettel an das öffentliche Tracking-Center senden, damit andere die Verifizierung dieses Stimmzettels überprüfen können.
<br /><br />
<b>Auch wenn du deinen geprüften Stimmzettel veröffentlichst, musst du zur Abstimmung zurückkehren und "abgeben" wählen, damit deine Stimme gezählt wird.</b>
<br /><br />
<button onclick="BOOTH.reset_ciphertexts();BOOTH.seal_ballot(); return false;" class="pretty">zurück zur Wahl</button>
&nbsp; &nbsp;&nbsp;
<button onclick="$(this).attr('disabled', 'disabled');BOOTH.post_audited_ballot(); return false;" id="post_audited_ballot_button" class="pretty" style="font-size:0.8em;">geprüften Stimmzettel an Tracking-Center senden</button>

</form>