<div id="questions_div">
<p>
    So funktioniert die Online Wahl:
</p>
    
<ol>
    <li><b>Wähle</b> deine bevorzugten Kandidat*innen</li>
    <br />

    <li><b>Überprüfe</b> deine Auswahl – sie wird anschließend verschlüsselt.</li>
    <br />

    <li><b>Schicke</b> deinen verschlüsselten Stimmzettel ab und authentifiziere dich, um deine Wahlberechtigung zu bestätigen.</li>
</ol>

<div align="center"><button onclick="BOOTH.show_question(0);">Start</button></div>
</div>

<p>
  Bei Fragen kannst du <a target="_new" href="mailto:{$T.election_metadata.help_email}?subject=Hilfe%20zur%20Wahl%20{$T.election.name}&body=Ich%20benötige%20Hilfe%20bei%20der%20Wahl%20{$T.election.uuid}">eine E-Mail zur Unterstützung senden</a>.
</p>
