<h3>Stimmzettel überprüfen</h3>

<div class="review-box">
{#foreach $T.questions as question}

<div class="review-question">
Frage #{$T.question$index + 1}: {$T.question.short_name}
</div>

{#if $T.choices[$T.question$index].length == 0}
<div class="review-choice">&#x2610; <b><i>Keine Auswahl getroffen (Enthaltung)</i></b></div>
{#/if}
{#foreach $T.choices[$T.question$index] as choice}
<div class="review-choice">&#x2713; <b>{$T.choice}</b></div>
{#/for}
{#if $T.choices[$T.question$index].length < $T.question.max}
<div class="review-meta">
[{$T.choices[$T.question$index].length} Auswahlen von möglichen {$T.question.min}-{$T.question.max}]
</div>
{#/if}
<div class="review-edit">
[<a onclick="BOOTH.show_question({$T.question$index}); return false;" href="#">ändern</a>]
</div>
{#if !$T.question$last}<hr class="review-separator">{#/if}
{#/for}
</div>

<p>Dein Stimmzettel-Hash ist <b><tt class="tracker-hash">{$T.encrypted_vote_hash}</tt></b>

<p>  
  <button id="proceed_button" onclick="BOOTH.cast_ballot();">Weiter zum Login</button><span id="loading_div" class="hidden"><img src="loading.gif" id="proceed_loading_img" /></span><br />
</p>


<form method="POST" action="{$T.cast_url}" id="send_ballot_form" class="prettyform">
<input type="hidden" name="election_uuid" value="{$T.election_uuid}" />
<input type="hidden" name="election_hash" value="{$T.election_hash}" />
<textarea name="encrypted_vote" style="display: none;">
{$T.encrypted_vote_json}
</textarea>
</form>

{#if $T.election_metadata.use_advanced_audit_features}
<div class="audit-box">
<h4 style="padding: 0px; margin:0px;"><a onclick="$('#auditbody').slideToggle(250);" href="#">Überprüfen & Auditieren</a> <span style="font-size: 0.8em; color: #444">[optional]</span></h4>
<div id="auditbody" style="display:none;">
<p>
Falls du dich dafür entscheidest, kannst du diesen Stimmzettel ungültig machen und die Verschlüsselung dieser (dann ungültigen) Wahl zu prüfen. Das musst du nicht tun.
</p>
<p>
Du musst dann erneut wählen, und deinen Stimmzettel abgeben, damit er gezählt wird.
</p>
<button onclick="BOOTH.audit_ballot();" class="pretty">Ungültig machen &amp; Prüfen</button>
</p>
</div>