{% extends 'server_ui/templates/base.html' %} 
{% block title %}{{ settings.SITE_TITLE }}{% endblock %} 
{% block header %}
<h2>{{ settings.SITE_TITLE }}</h2>
{% endblock %} 
{% block content %}
<div class="row"><div class="large-5 columns large-centered"><a href="/"><img border="0" src="{{ settings.MAIN_LOGO_URL }}" /></a></div></div>
<div class="row">&nbsp;</div>
<div class="large-9 columns">
  {% if settings.MASTER_HELIOS %}
<p>Helios bietet **verifizierbare Online-Wahlen**.</p>
<p>Wir glauben, dass Demokratie wichtig ist, sei es in Ihrem Buchclub, der Eltern-Lehrer-Vereinigung, der Studierendenvertretung, der Gewerkschaft oder im Staat. Deshalb haben wir wirklich verifizierbare Wahlen so einfach gemacht wie alles andere im Web.</p>
<p>
Helios-Wahlen sind:
<ul class="disc">
<li>**privat**: Niemand weiß, wie Sie abgestimmt haben.</li>
<li>**verifizierbar**: Jeder Wähler erhält eine Verfolgungsnummer.</li>
<li>**bewährt**: Helios ist quelloffen, von Top-Experten geprüft und wird von großen Organisationen verwendet.</li>
</ul>
<p>
Mehr als **2.000.000 Stimmen** wurden mit Helios abgegeben.
</p>
{% if create_p %}
<a class="button" href="{% url "elections@new" %}">Wahl erstellen</a>
{% endif %}

  {% else %}
<p style="font-size: 1.4em;">
    {{settings.WELCOME_MESSAGE|safe}}
  </p>
  {% if elections|length %}
<p>
    {% for election in elections %}
<div class="panel">
      <a style="font-size: 1.4em;" href="{% url "shortcut@election" election.short_name %}">{{election.name}}</a>{% if settings.SHOW_USER_INFO %}<br /> von {{election.admin.display_html_small|safe}}{% endif %}
</div>
    <br />
    {% endfor %}
  </p>
  {% else %}
<h4>Keine hervorgehebene Wahl</h4>
  {% endif %}
{% endif %}
  
</div>

<div class="large-3 columns" id="mystuff">
<div class="row">&nbsp;</div>
<div class="panel row">
{% if user %}
{% if create_p %}
<h5 class="subheader">Admin Console</h5>
<a class="small button" href="{% url "elections@new" %}">Wahl erstellen</a>
{% if elections_administered %}
<ul>
{% for election in elections_administered %}
<li> <a href="{% url "election@view" election.uuid %}">{{election.name}}</a></li>
{% endfor %}
</ul>
{% else %}
<em>noch keine Wahl</em>
{% endif %}
<div class="row right">
<a class="tiny button" href="{% url "elections@administered" %}">alle anzeigen</a>
</div>
<div class="row"></div>
{% endif %}

<h5 class="subheader">Kürzliche Abstimmungen</h5>
{% if elections_voted %}
<ul>
{% for election in elections_voted %}
<li><a href="{% url "election@view" election.uuid %}">{{election.name}}</a></li>
{% endfor %}
</ul>
{% else %}
<em>noch keine Wahl</em>
{% endif %}
<div class="row right"><a class="tiny button" href="{% url "elections@voted" %}">alle anzeigen</a></div>
<div class="row"></div>
{% else %}
{% if settings.SHOW_LOGIN_OPTIONS %}
<h5>Als Admin anmelden</h5>
{{login_box|safe}}
{% else %}
<p>
Hier siehst du die aktuelle Wahl. Wenn du wahlberechtigt bist, hast du eine Email bekommen mit allen Infos.
</p>
{% endif %}
{% endif %}
</div>
</div>


{% endblock %}