{% if election.voting_has_started %}
  {% if not election.voting_has_stopped %}
    <div id="cast_form">
      <form id="cast_confirm_form" method="post" action="" onsubmit="show_waiting()">
        <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
        
        {% if status_update_label %}
        <div class="round" style="background: #eee; padding: 10px; border: 1px dashed #888;">
          <input type="checkbox" name="status_update" value="1" checked /> {{status_update_label}}<br />
          <blockquote style="font-size: 1.3em;">"{{status_update_message}}"</blockquote>
          <input type="hidden" name="status_update_message" value="{{status_update_message}}" />
        </div>
        <br />
        {% endif %}

        Du bist eingeloggt als <u>{{voter.display_html_big|safe}}</u><br /><br />

        <button type="submit" class="large">Diesen Stimmzettel abgeben</button>
        <span style="font-size:0.8em;"><br />Du kannst so viele Stimmzettel abgeben, wie du möchtest.<br />Nur der letzte zählt.</span>
      </form>

      <p>
        <button class="tiny" onclick="if (confirm('Bist du sicher, dass du den Stimmzettel löschen und NICHT abgeben willst?')) {document.location='{% url "election@view" election.uuid %}';}">Abbrechen</button><br />
        <span style="font-size:0.8em;">Wenn du jetzt abbrichst, wird dein Stimmzettel <em>NICHT</em> aufgezeichnet.<br />Du kannst den Wahlvorgang natürlich jederzeit wieder neu starten.</span>
      </p>

    </div>
  {% else %}
    <p style="font-size:1.4em;">
      Entschuldigung, die Abstimmung ist bereits beendet.
    </p>
  {% endif %}
{% else %}
  <p style="font-size:1.4em;">
    Entschuldigung, die Abstimmung hat noch nicht begonnen.
  </p>
{% endif %}