<form method="post" action="{% url "election@password-voter-login" election.uuid %}" onsubmit="show_waiting()">
  <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
  <input type="hidden" name="return_url" value="{{return_url}}" />
  <input type="hidden" name="cast_ballot" value="{{cast_ballot}}" />

  <div style="border: 1px solid #888; padding: 10px; max-width: 1000px; border-radius: 5px; background-color: #fffde7; text-align: left;">    
    <div class="form-group">
        <label for="{{ password_login_form.voter_id.id_for_label }}">Vorname:</label>
        {{ password_login_form.voter_id }}
        {{ password_login_form.voter_id.errors }}
    </div>

    <div class="form-group">
        <label for="{{ password_login_form.password.id_for_label }}">Passwort:</label>
        {{ password_login_form.password }}
        {{ password_login_form.password.errors }}
    </div>
    
    {% if bad_voter_login %}
    <p style="color: red;">
      Deine Vorname oder dein Passwort sind leider falsch. Das ist nicht der Login des HfMDK Konto. Bitte versuche es erneut, steht in der Email!
    </p>
    {% endif %}

    {% if cast_ballot == "1" %}
    <input type="submit" class="nav-buttons" style="background: #333; border: none; margin: 10px 5px; padding: 10px 25px; font-size: 1.1rem; border-radius: 4px; color: white; font-weight: bold;" value="Authentifizieren &amp; Stimmzettel abgeben" />
    <p class="small">
      Deine Wähler-ID und dein Passwort findest du in der E-Mail, die du erhalten hast.
      Wenn du deine Zugangsdaten nicht finden kannst, kontaktiere bitte den AStA unter: <tt>{{election.help_email}}</tt>.
    </p>
    <p class="small">
      Du kannst so viele Stimmzettel abgeben, wie du möchtest. Nur der letzte zählt.
    </p>
    {% else %}
    <input type="submit" class="button" value="Einloggen" />
    {% endif %}
  </div>
</form>