{% extends TEMPLATE_BASE %}
{% block title %}Stimme bestätigen{% endblock %}

{% block content %}
<h1>{{election.name}} &mdash; Stimme erfolgreich abgegeben!</h1>

{% if vote_hash %}
<p>
  Dein Stimmzettel-Hash lautet:<br />
  <span style="font-size:1.4em; font-weight: bold; word-break: break-word;">{{vote_hash}}</span>
</p>
<p>
  Dieser Hash garantiert, dass dein Stimmzettel mathematisch korrekt gezählt wird. Du kannst alle Hashes einsehen, indem du die <a href="{% url "election@voters@list-pretty" election.uuid %}">Liste der Wähler*innen</a> aufrufst. Dein Hash sollte dort innerhalb weniger Minuten erscheinen.
</p>
{% endif %}

{% if logout %}
<p><b>Zu deiner Sicherheit haben wir dich ausgeloggt.</b></p>
<iframe width="0" height="0" border="0" frameborder="0" src="{% url "auth@logout" %}">
</iframe>
{% endif %}

<p style="font-size: 1.4em;">
  [ <a href="{% url "election@view" election.uuid %}">Zurück zu den Wahlinformationen</a> ]
</p>

{% if settings.SHOW_FEEDBACK %}
<iframe width="640px" height="480px" src="https://forms.office.com/Pages/ResponsePage.aspx?id=-BK6sOeJzkaBW6ECVPvw82lcgajRpJdArjXfB4NFwSNUMkZLTEtDWkI3UzRDM0tKS05EOFhMQUxQTS4u&embed=true" frameborder="0" marginwidth="0" marginheight="0" style="border: none; max-width:100%; max-height:100vh" allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen> </iframe>
{% endif %}

{% endblock %}