
{% extends TEMPLATE_BASE %}

{% load static %}

{% block js %}
<script language="javascript" src="{% static 'helios/underscore-min.js' %}"></script>
<script language="javascript" src="{% static 'helios/jquery-jtemplates.js' %}"></script>
<script language="javascript" src="{% static 'helios/jquery.json.min.js' %}"></script>

<script language="javascript" src="{% static 'helios/jscrypto/jsbn.js' %}"></script>
<script language="javascript" src="{% static 'helios/jscrypto/jsbn2.js' %}"></script>
<script language="javascript" src="{% static 'helios/jscrypto/sjcl.js' %}"></script>

<script language="javascript">
  // required for jscrypto library
  var JSCRYPTO_HOME = "{% static 'helios/jscrypto' %}";
</script>

<script language="javascript" src="{% static 'helios/jscrypto/class.js' %}"></script>
<script language="javascript" src="{% static 'helios/jscrypto/bigint.js' %}"></script>
<script language="javascript" src="{% static 'helios/jscrypto/random.js' %}"></script>
<script language="javascript" src="{% static '/jscrypto/elgamal.js' %}"></script>
<script language="javascript" src="{% static 'helios/jscrypto/sha1.js' %}"></script>
<script language="javascript" src="{% static 'helios/jscrypto/sha2.js' %}"></script>
<script language="javascript" src="{% static 'helios/helios.js' %}"></script> {# Korrigiert zu helios.js statt jscrypto/helios.js #}
{% endblock %}

