```
{% extends TEMPLATE_BASE %}

{% block title %}Prüfungs-Stimmzettel für {{election.name}}{% endblock %}

{% block content %}
  <h2 class="title">{{election.name}} &mdash; Prüfungs-Stimmzettel <span style="font-size:0.7em;">[<a href="{% url "election@view" election_uuid=election.uuid %}">zurück zur Wahl</a>]</span></h2>

  <p>
    Wenn du einen Stimmzettel mit Helios vorbereitest, erhältst du sofort einen Stimmzettel-Hash. Bevor du dich entscheidest, diesen Stimmzettel abzugeben, hast du die Möglichkeit, Helios zu bitten, diesen verschlüsselten Stimmzettel "aufbrechen", also zu verifizieren, um zu überprüfen, dass deine Stimme korrekt verschlüsselt wurde. Sobald dies geschehen ist, kannst du diesen geöffneten Stimmzettel hier, auf der Liste der geprüften Stimmzettel, veröffentlichen, damit jeder ihn überprüfen kann (deine Identität wird dabei nicht preisgegeben). Danach musst du deine Auswahl erneut verschlüsseln und erhältst einen anderen Stimmzettel-Hash. Das ist wegen Wahlmanipulation.
  </p>

  <p>
    Diese Stimmzettel sind **nicht abgegeben** und werden nicht gezählt. Sie dienen nur zu Überprüfungszwecken, um stichprobenartig zu prüfen, ob das Programm die Stimmzettel korrekt verschlüsselt.
  </p>

  <p>
    Um einen Prüfungs-Stimmzettel zu verifizieren, kopiere seinen gesamten Inhalt und füge ihn in den <a target="_new" href="/booth/single-ballot-verify.html?election_url={% url "election@home" election.uuid %}">Stimmzettel-Verifizierer</a> ein.
  </p>

  {% if audited_ballots %}
  <p>
    Prüfungs-Stimmzettel {{offset_plus_one}} - {{offset_plus_limit}} &nbsp;&nbsp;
  </p>

  {% if next_after %}
  <a href="?after={{next_after}}&offset={{offset_plus_limit}}">nächste {{limit}}</a> &nbsp;&nbsp;
  {% endif %}

  {% if offset == 0 %}
  {% else %}
  <a href="?">zurück zum Anfang</a> &nbsp;&nbsp;
  {% endif %}
  {% if more_p %}
  <a href="?after={{next_after}}&offset={{next_offset}}">nächste {{limit}}</a>
  {% endif %}
  <table class="pretty">
    {% for b in audited_ballots %}
    <tr><td><tt style="font-size: 1.4em;">{{b.vote_hash}}</tt> [<a target="_blank" href="?vote_hash={{b.vote_hash|urlencode}}">ansehen</a>]</td></tr>
    {% endfor %}
  </table>
  {% else %}
  <em>noch keine Prüfungs-Stimmzettel vorhanden</em>
  {% endif %}

{% endblock %}
```